<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Whisper Master</string>
	<key>CFBundleExecutable</key>
	<string>WhisperMaster</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>app.whispermaster.mac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Whisper Master</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.8</string>
	<key>CFBundleVersion</key>
	<string>1783192361</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Whisper Master uses Bluetooth to gauge how physically close nearby Macs are.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_whispermaster._tcp</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2026 Whisper Master</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Whisper Master advertises a transcription service so your iPhone can stream audio here and use this Mac's models.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Whisper Master uses the microphone while you hold the dictation hotkey.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://model.scoopscore.in/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>cmaCrnrt6lBk+fGN+1qzcSK8uyADiLSBveAFYwEk5hk=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
</dict>
</plist>
